<div class="content">
  <div class="dropdown">
    <button class="dropbtn">Education</button>
    <div class="dropdown-content" style="max-height: 120px;">
      <p>Santa Clara University</p>
        <ul>
          <li>B.S. in Computer Science and Engineering</li>
          <li>June 2020</li>
        </ul>
    </div>
  </div>
  <br>
  <div class="dropdown">
    <button class="dropbtn">Related Work Experience</button>
    <div class="dropdown-content">
      <p>Global Technology Solutions Intern at VSP</p>
        <ul>
          <li>Sacramento, CA</li>
          <li>June 2019 to September 2019</li>
        </ul>
        <p>Teacher at Questabox</p>
        <ul>
          <li>Santa Clara, CA</li>
          <li>June 2018 to August 2018</li>
        </ul>
    </div>
  </div>
  <br>
  <div class="dropdown">
    <button class="dropbtn">Other Work Experience</button>
    <div class="dropdown-content">
    <p>Host at Il Fornaio</p>
      <ul>
        <li>Santa Clara, CA</li>
        <li>September 2017 to June 2019</li>
      </ul>
    <p>Teacher at Merryhill Midtown School</p>
      <ul>
        <li>Sacramento, CA</li>
        <li>June 2017 to August 2017</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="dropdown">
    <button class="dropbtn">Projects</button>
    <div class="dropdown-content">
    </div>
  </div>
  <br>
  <div class="dropdown">
    <button class="dropbtn">Other Involvements</button>
    <div class="dropdown-content">
    <p>Society of Women Engineers (SWE)</p>
      <ul>
        <li>Event Coordinator</li>
        <li>September 2019 to June 2020</li>
      </ul>
    <p>Association of Computing Machinery--Women's Chapter (ACM-W)</p>
      <ul>
        <li>Public Relations Officer</li>
        <li>September 2019 to June 2020</li>
      </ul>
    <p>Abroad Ambassadors</p>
    <p>Alpha Delta Pi Sorority</p>
    </div>
  </div>
</div>
