body{
  font-family: Helvetica;
  margin: 0;
}

h1,h2,h3{
  margin: 0;
}

img {
  vertical-align: middle;
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#menu-bar{
  background: #3d68ad;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

.dropbtn {
  display: block;
  width: 1000px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #db95d1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {
  display: block;
  transition: max-height 0.2s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #d67cc9;
}

div.dropdown-content{
		padding: 0 15px;
		font-family: arial;
		font-size: 1.0em;
		max-height: 0;
		transition: max-height 0.2s ease-out;
		overflow: hidden;
	}

	button.dropbtn:after {
		content: '';
		margin-right: 0.9em;
		border-bottom: 4px solid transparent;
		border-top: 4px solid transparent;
		border-left: 7px solid #003046; /* Pointer color */
   		float: left;
		transition: 0.3s ease-out;
	}

	button.dropbtn.active:after {
	    border-left: 7px solid #FFF;/* Pointer color */
	    transform: rotate(90deg);
	    transition: 0.3s ease-out;
	}

.content {
  margin: 30px;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input, textarea{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}

/* ANIMATIONS */

/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity: 1;
}

#ninja-list li.ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
  transform: translateY(30px);
}

#ninja-list li.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

#ninja-list li.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translateX(0);
}

#ninja-list li.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

#ninja-list li.ng-leave-stagger {
  transition-delay: 0.2s;
  transition-duration: 0;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important;
}
